<div>
  <div class="m-3 text-center">
    <form class="form-inline" [formGroup]="form" (ngSubmit)="onSearch()">
      <div class="form-group">
        <input type="search" class="form-control"
          placeholder="Enter search string" name="search"
          formControlName="search"
        />
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <hr />

    <div class="text-center">
      <!-- Show when we are calling the API -->
      <p class="lead" *ngIf="service.loading">Loading...</p>

      <!-- Show when no results are returned from the API -->
      <p class="lead" *ngIf="foundNoResult()">No results returned</p>

      <!-- Show when the user hasn't performed a search yet -->
      <p class="lead" *ngIf="!service.initialised">Enter a search string above and press search</p>
    </div>
  </div>

  <!-- Show the results of the search -->
  <app-book-list *ngIf="foundResults()"></app-book-list>

  <div class="d-flex justify-content-center">
    <!-- Show pagnation -->
    <app-pager *ngIf="service.totalPages > 1"></app-pager>
  </div>
</div>
